.App-footer {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 0.5vmin);
  color: white;

  position: fixed;
  bottom: 0;
  width: 100%;
}

.App-footer .toggle-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.25rem;
}

.App-footer .toggle-wrapper .toggle {
  margin-left: 0.4rem;
}

.App-footer .App-link {
  color: #09d3ac;
}

.App-footer .tips-wrapper {
  margin-top: 0;
}

.App-footer .tips-wrapper .tips {
  margin-right: 0.5rem;
}
