@import '../common/stylesheets/vars.scss';
@import '../common/stylesheets/mixins.scss';

.directory-opener-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.directory-opener-wrapper.dark {
  color: $bright-color;
}

.directory-opener {
  width: 45%;
  height: 14rem;
  margin-top: 6%;

  display: flex;
  justify-content: center;
  align-items: center;

  font: small-caps bold 1.5rem monaco, consolas;
  border: .2rem dashed #616778;
  cursor: pointer;
  @include color-transition;
}

.directory-opener:hover {
  border-color: #6167789e;
}
