.App {
  height: 100vh;
  text-align: center;
}

.App.dark {
  background-color: #333;
}

.main {
  padding: 0.2% 6% 76px;
}

.main .back {
  width: 3vw;
  height: 3vw;
  background-image: url('./images/back-32.png');
  background-size: contain;
  background-repeat: no-repeat;

  position: fixed;
  top: calc(50vh - 60px - 1.5vw);
  left: 2%;

  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .main {
    padding-left: 0.3vw;
    padding-right: 0.3vw;
  }
}
