
@import './common/stylesheets/mixins.scss';
@import './common/stylesheets/vars.scss';

@mixin menu-width {
  width: 5vmax;
  min-width: 40px;
}

.App {
  display: flex;
  min-height: 100vh;
  text-align: center;
  background-color: $light;

  @include color-transition;
}

.App.dark {
  background-color: $dark;

  .main {
    background-color: $dark;
  }

  .icon-wrapper {
    &.active {
      border-left-color: $bright-color;

      svg {
        fill: $bright-color;
      }
    }

    svg {
      fill: #666666;
    }
  }

  .menu-wrapper {
    border-right-color: #09d3ac54;
  }

  .no-photo-tips {
    color: $bright-color;

    .go-home-btn {
      color: $brighter-color;
    }
  }
}

.menu {
  position: fixed;
  @include menu-width();
}

.main {
  flex: 1;
  background-color: $light;
  @include color-transition;
}

.no-photo-tips {
  margin-top: 12%;
  font: small-caps bold 2vmax monaco, consolas;

  .go-home-btn {
    background: none;
    border: none;
    font: inherit;
    color: #005444;
    border-bottom: 1px solid;
    cursor: pointer;
  }
}

.menu-wrapper {
  display: flex;
  flex-direction: column;
  padding: 5% 0;
  border-right: 1px solid #ffdea9;
  box-sizing: border-box;

  @include menu-width();
  @include color-transition;

  .icon-wrapper {
    padding: 2vw 1.2vw;
    border: 0.2vw solid transparent;
    cursor: pointer;
    @include color-transition;

    &:not(:first-of-type) {
      margin-top: 0.3vw;
    }

    &.active {
      border-left-color: #333;
    }

    &:not(.active) svg {
      fill: #666666;
    }
  }
}

@media screen and (max-width: 600px) {
  .gallery {
    padding-left: 0.3vw;
    padding-right: 0.3vw;
  }
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}
