.App {
  height: 100vh;
  text-align: center;
}

.App.dark {
  background-color: #333;
}

.main {
  padding: 0.2% 6% 76px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.main .back {
  width: 3vw;
  height: 3vw;
  margin-right: 4vw;
  background-image: url('./images/back-32.png');
  background-size: contain;
  background-repeat: no-repeat;
}

@media screen and (max-width: 600px) {
  .main {
    padding-left: 0.3vw;
    padding-right: 0.3vw;
  }
}
